# example tfvars file
# do not change the variable names on the left column
# replace only the values in the " " placeholders

hosted_zone_name              = "<dns_zone_name>"          # your AWS route53 DNS zone name
tfe_version_image             = "<tfe_version>"            # desired TFE version, example: v202507-1 or 1.0.0
tfe_license                   = "<tfe_license_string>"     # TFE license string